body{
	background: #000;
	height: 100%;
	width: 100%;
}
.contenedorImagen{
	height: 576px;
	margin:0 auto;
	position: relative;
	text-align: center;
	width: 600px;
	cursor: pointer;
}
.contenedorImagen img{
	display: inline-block;
	height: 100%;
	width: 100%;
	border: 5px solid #FFF;
}
.descripcion{
	background: rgba(0,0,0,0.5);
	bottom: 0;
	color: #FFF;
	display: none;
	margin:0;
	padding: 10px 0;
	position: absolute;
}
.contenedorImagen:hover .descripcion{
	display: block;
}